.pagination {
    @include clear-list;
    display: flex;
    position: absolute;
    z-index: 4;
    width: auto !important;
    left: auto !important;
    top: auto !important;

    &__item {
        border-radius: 50%;
        width: 11px;
        height: 11px;
        background-color: #000;
        margin: 0 10px;
        transition: width 0.3s;
    }

    &__item--active {
        width: 30px;
        border-radius: 12px;
    }

    &--most-popular {
        bottom: -20px !important;
        right: calc(50% - 70px) !important;

        @media (min-width: 768px) {
            right: calc(50% - 110px) !important;
        }

        @media (min-width: 1728px) {
            bottom: -60px !important;
        }
    }

    &--banners {
        bottom: 20px !important;
        right: calc(50% - 56px) !important;

        .pagination__item {
            background-color: #fff;
        }

        @media (min-width: 768px) {
            right: 40px !important;
        }
    }
}